src/main/resources/xml/departments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xs:element name="departments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="department" type="departmentType" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="departmentType">
    <xs:sequence>
      <xs:element name="department_id" type="xs:positiveInteger" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="code" type="xs:string" />
      <xs:element name="university_id" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>